<h1>Works#index</h1>
<p>Find me in app/views/works/index.html.erb</p>

<table width="100%">
	<thead>
		<tr>
			<td width="20%"><strong>Trabajo Desc</strong></td>
			<td width="20%"><strong>Usuario</strong></td>
			<td width="20%"><strong>Item</strong></td>
			<td width="20%"><strong>Categoria Item</strong></td>
			<td width="20%"><strong>Borrar</strong></td>
		</tr>
	</thead>

	<tbody>
		<% @works.each do |work| %>
		<tr>
			<td><%= work.description %></td>
			<td><%= work.user.name %></td>
			<td><%= work.inventory.try(:serial) %></td>
			<td><%= work.inventory.try(:category) %></td>
			<td></td>
		</tr>
		<% end %>
	</tbody>
</table>
